body{font-family:Arial, Helvetica, sans-serif;margin:0px;padding:0px;background:#fff!important;}
.fl{float:left;}
.fr{float:right;}
.clear{clear:both;}
p,h1,h2,h3{ margin:0px!important;padding:0px!important;}
.container1{ 
	 width:375px; 
	margin:20px auto;
	min-height:306px;
	background:#527614;
}
.hdng{
	text-align:center;
	padding:15px 0px!important;
	color:#3F3F3F;
	font-size:20px!important;
	background:#F3F3F3;
}
.container1 img{vertical-align:top!important;}
.contnt{ background:#7BAA40;text-align:center;padding:20px 10px 45px;}
.contnt h2{ color:#fff;font-size:20px;margin-bottom:30px!important;}
.contnt p{ font-weight:bold;font-size:16px;color:#2E2E2C;}
.inst_access{ background-color:#fece0d; border-radius:5px; padding:15px 30px 15px 30px; height:42px; color:#2e2e2e; text-decoration:none;font-weight:bold;font-size:20px;position:relative;top:-14px; }
.inst_access:hover{ background-color:#feb10d; border-radius:5px; padding:15px 30px 15px 30px; height:42px; color:#2e2e2e; text-decoration:none;}