body{font-family:Arial, Helvetica, sans-serif;margin:0px;padding:0px;}
.fl{float:left;}
.fr{float:right;}
.clear{clear:both;}
p,h1,h2,h3{ margin:0px!important;;padding:0px!important;;clear:none!important;}
.container1{ 
	background:#1181B1;
	 width:545px; 
	margin:20px auto;
	min-height:118px;
	border:2px solid #06668E;
	padding:20px;
}
.hdng{ color:#EBF7FC;font-size:20px;text-align:center;}
.form_prt{ background:#06668E;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;padding:10px;width:78%;margin:20px auto;}
.txt{ background:#fff;border:none;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;padding:5px;height:36px;width:98%;}

.submit{
	background: #ffb600; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2ZmYjYwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjkwJSIgc3RvcC1jb2xvcj0iI2ZjNzIwMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(top,  #ffb600 1%, #fc7203 90%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffb600), color-stop(90%,#fc7203)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffb600 1%,#fc7203 90%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffb600 1%,#fc7203 90%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffb600 1%,#fc7203 90%); /* IE10+ */
background: linear-gradient(to bottom,  #ffb600 1%,#fc7203 90%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb600', endColorstr='#fc7203',GradientType=0 ); /* IE6-8 */

color:#fff;
text-align:center;
border:none;
padding:8px 25px;
border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;
font-weight:bold;
text-transform:uppercase;
}
.form_prt table,.form_prt table td{ margin:0px!important;border:none!important;}
.form_prt table td{ vertical-align:top!important;}