body{ margin:0px;padding:0px;font-size:14px!important;font-family: 'Raleway', sans-serif!important;background:none!important;}
ul,p,h1,h2,h3,h4,h5,h6{ margin:0px!important;padding:0px!important;list-style:none!important;}
p{ line-height:23px!important;}
.fl{float:left;}
.fr{float:right;}
.clear{clear:both;}
.header{
	min-height:80px;
 }
 .head{ background:#12B5DE;border-bottom:3px solid #FEFEFF;box-shadow:1px 2px 2px #ABA9AA;-moz-box-shadow:1px 2px 2px #ABA9AA;-webkit-box-shadow:1px 2px 2px #ABA9AA;height:42px;margin-bottom:20px;} 
 .container{ width:1140px;margin:0px auto;}
 .logo{ }
.phno{padding-top:10px;color:#2B7FBB;font-size:30px;font-family:arial;}
.banner_bg{ background:#F2F2F2;margin-top:20px;}
.banner{ background:url(../images/banner.jpg) no-repeat;width:100%;min-height:370px;}
.form_part{
	 background:rgba(0,0,0,.7);
-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC000000,endColorstr=#CC000000);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC000000,endColorstr=#CC000000);
zoom: 1;
border-top:3px solid #17B2E2;
width:46%;
padding:0px 20px 20px;
	 }
.form_part h1{
	color:#fff;font-size:26px!important;text-align:center!important;text-transform:uppercase;margin:20px 0px!important;
}

.form_part img{vertical-align:top!important;}
.form_part table{ border:none!important;}
.form_part table tr td{ border:none!important;padding:10px;}
.form_part input[type='text']{ width:90%!important;height:	38px!important;}
.form_part select{ width:92%!important;height:40px!important;}
.form_part input[type='submit']{ background:#12B5DE!important;border-radius:5px!important;-moz-border-radius:5px!important;-webkit-border-radius:5px!important;color:#fff;text-align:center;font-weight:bold;border:none;padding:8px 10px;font-size:15px;cursor:pointer;text-transform:uppercase;}
.content_prt{ margin:30px 0px;}
.lft_contnt , .mdl_contnt{ width:31%; margin-right:30px;}
.lft_contnt p, .mdl_contnt p, .rht_contnt p{ text-align:justify;margin-top:20px!important;}
.lft_contnt h1, .mdl_contnt h1, .rht_contnt h1,.contnt h2{ font-size:24px;color:#14B9D5;font-weight:normal!important;}
.rht_contnt{ margin-right:0px!important;width:32%;}
.contnt h2{ margin:50px 0px 80px!important;}
.grey_box{ background:#F3F3F3;text-align:center;padding:10px 10px 30px;width:29%!important;}
.round_img1{ position:relative; top:-30px;}
.grey_box h3{ font-size:16px;color: #14B9D5;position:relative;margin-top:-10px!important;}
.grey_box p{ text-align:center!important;margin-bottom:40px!important;}
.read_more{ background:#12B5DE;text-align:center;padding:15px 40px;color:#fff;margin-top:30px;text-decoration:none;border-radius:5px!important;-moz-border-radius:5px!important;-webkit-border-radius:5px!important;font-weight:bold;font-size:15px;text-transform:uppercase;}
.read_more:hover{ color:#fff!important;}
.footer_top{
	background: #f3f3f3; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YzZjNmMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI0JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(top,  #f3f3f3 0%, #ffffff 24%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f3f3), color-stop(24%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f3f3f3 0%,#ffffff 24%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f3f3f3 0%,#ffffff 24%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f3f3f3 0%,#ffffff 24%); /* IE10+ */
background: linear-gradient(to bottom,  #f3f3f3 0%,#ffffff 24%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
border-top:1px solid #E1E1E1;
padding:30px 0px 70px;
}
.footer_top h1{ font-size:18px;color: #14B9D5;}
.footer_btm{ padding:30px 0px;color:#fff;}
.footer{background:#12B5DE;}

@media all and (max-width:1200px){
	.container{width:98%;margin:0px auto}
	.rht_contnt{width:31%;}
}
@media all and (max-width:950px){
	.lft_contnt, .mdl_contnt, .rht_contnt{ width:30%!important;}
	.grey_box{ width:28%!important;}
}
@media all and (max-width:750px){
	.logo{ width:40%;}
	.logo img{ max-width:100%;}
	.phno{ font-size:20px;margin-right:10px;}
	.lft_contnt, .mdl_contnt, .rht_contnt{ width:98%!important;margin:20px auto !important;float:none;}
	.footer p{ font-size:13px;}
	.grey_box{ margin-bottom:40px!important;}
	.form_part{ width:95%;}
}