body{ margin:0; padding:0; background-color:#666;font-family: 'Raleway', sans-serif;}
h1,h2,h3,h4,h5,h6{margin:0; padding:0;}
.main-popup{width:870px; height:350px; margin:0px auto 0 auto; border:6px solid #b5541a; background-color:#fffef6;}

h1{ text-align:left; font-size:30px; color:#b5541a;font-family: 'Raleway', sans-serif; font-weight:600; margin-bottom:57px;}

h2{ text-align:center; font-size:30px; color:#d14e00; font-family: 'Oswald', sans-serif; font-weight:400; padding-top:63px; padding-bottom:20px;}
.pad{ padding:20px 40px 20px 40px;}
.mar20{ margin-right:30px;}
.left-sec{width:400px; float:left;}
.right-sec{ width:343px; height:205px; float:right;border-left:1px solid #d0d0ca; height:310px; padding-left:20px;}
.marimg{  margin-bottom: -17px;
    margin-left: 243px;
    margin-top: 39px;}
	.input-box{ width:280px; height:40px; margin:0 auto 20px auto; }
	
		.inputb{  border-radius:5px; width:280px; height:40px; border:1px solid #CCC; padding-left:10px; font-family: 'Raleway', sans-serif; }
		
		.button{ border-radius:5px; cursor:pointer;width:292px; height:40px; background-color:#b5541a; color:#FFF; border:0px;font-family: 'Raleway', sans-serif; font-size:18px; text-transform:uppercase; font-weight:600;}
		
			.button:hover{ background-color:#d07e4d;}
			
			.list{ margin:0; padding:0; margin-left:25px;}
			.list li{ margin:0; padding:0; list-style-image:url(../images/bullet.png); background-repeat:no-repeat; background-position:left; font-size:18px; line-height:40px;}
			