body{font-family:Arial, Helvetica, sans-serif;margin:0px;padding:0px;}
.fl{float:left;}
.fr{float:right;}
.clear{clear:both;}
p,h1,h2,h3{ margin:0px!important;padding:0px!important;}
a{ text-decoration:none;}
.container1{ 
	 width:660px; 
	margin:20px auto;
	min-height:29px;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	box-shadow:1px 0px 5px #aaa;
	-moz-box-shadow:1px 0px 5px #aaa;
	-webkit-box-shadow:1px 0px 5px #aaa;
	padding:20px;
}

.take_btn{ background-color:#ee3300; border-radius:5px; padding:10px 20px 10px 20px; height:42px; color:#FFF; text-decoration:none; text-transform:uppercase;}
.take_btn:hover{ background-color:#c73109; border-radius:5px; padding:10px 20px 10px 20px; height:42px; color:#FFF; text-decoration:none;}

.tble,.tble td{ margin:0px!important;border:none!important;}
.tble td{ vertical-align:top!important;}