body{ margin:0; padding:0; background-color:#202020;font-family: 'Raleway', sans-serif;}
h1,h2,h3,h4,h5,h6,P{margin:0; padding:0;}


.main-popup{width:620px; height:390px; margin:0 auto;background-color:#fff;border-radius:20px; border:6px solid #d7a50d;}

h1.heading1{ text-align: center; font-size:24px; color:#373737;font-family: 'Raleway', sans-serif; font-weight:600; margin:20px 0 10px 20px;}

h1 span{ color:#90a33f; font-size:18px;}

.clear{ clear:both;}
h2.heading2{ text-align:left; font-size:18px;color:#90a33f;font-family: 'Raleway', sans-serif; font-weight:600; padding-top:10px; padding-left:20px;}
.pad{ padding:20px 27px 20px 20px;}
.mar20{ margin-right:30px;}
.left-sec{width:100%;}
.right-sec{    background-color: #0dbdd7; border-radius: 0px 0px 10px 10px;
-moz-border-radius: 0px 0px 10px 10px;
-webkit-border-radius: 0px 0px 10px 10px; height:162px;
border: 0px solid #000000;
    float: left;
    
    padding: 39px 0 0 25px;
    width:595px;}
.marimg{  margin-bottom: -17px;
    margin-left: 243px;
    margin-top: 39px;}
	.input-box{ width:266px; height:40px;float:left;margin-right:30px; }
	
	.button-box{  float: left;
    height: 40px;
    margin-left: 159px;
    margin-right: 30px;
    margin-top: 20px;
    width: 266px;}
	
		.inputb{  width:266px; height:40px; padding-left:10px; font-family: 'Raleway', sans-serif; border:0px; }
		
		.button.popup{ float:left;  cursor:pointer;width:266px; height:43px;font-family: 'Raleway', sans-serif; font-size:16px; text-transform:uppercase; font-weight:600; border:0px ;  background-color:#076bb8; color:#FFF;}
		
			.button.popup:hover{ background-color:#084370; }
			
			.list{ font-family:"Times New Roman", Times, serif; font-style:italic; margin:0; padding:0; margin-left:100px; margin-bottom:40px; margin-top:10px;}
			.list li{ margin:0; padding:0; list-style-image:url(../images/tick2.png); background-repeat:no-repeat; background-position:left; font-size:18px; line-height:30px; color:#545454;}
			
			.smalltext{ margin-right:20px;font-family: 'Raleway', sans-serif; font-size:16px; color: #484848; text-align: center;padding:30px 0 0 20px; text-align:center;}
			
						.smalltext2{font-family: 'Raleway', sans-serif; font-size:14px; color: #fff; text-align:left;padding:30px 0 0 20px; text-align:center;}

			.padleft{ margin-left:20px;}
			
			.pright{ margin-right:100px;}
			
			
			